
.row{
    width:100vw;
    height:fit-content;
    margin:30px 0px;
}
.rowHeader{
    width:100%;
    margin:10px 0px;    
}
.rowTitle{
    color:white;
    display: inline;
    margin-left: 30px;
}
.subHeader{
    color: #aaa; 
    font-size: 10px;
}
.seeAll{
    float: right;
    margin: auto 30px;
    font-weight: bolder;
}
.seeAll:hover{
    color:white;
    cursor: pointer;
}
.scrollRow{
    width: 100vw;
    margin-left: 30px;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    scrollbar-width: 0px;
}

/* Trending row */

.trend-number{
    color:white;
}


/* region  arrows */
.arrowContainer{
    background-color: red;
    height:800%;
    width:30px;
    display: block;
    position: relative;
    top:-50%;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  /* end region */