
.row{
    display: flex;
    flex-direction: column;
    width:100vw;
    margin:30px 0px;
    height: 350px;
    position: relative;
}
.row-sm{
    height:300px;
}
.row-lg{
    height:800px;
}
.rowHeader{
    width:100%;
    margin:10px 0px;    
}
.rowTitle{
    color:white;
    display: inline;
    margin-left: 30px;
}
.subHeader{
    color: #aaa; 
    font-size: 10px;
}
.seeAll{
    float: right;
    margin: auto 30px;
    font-weight: bolder;
    z-index: 10;
}
.seeAll:hover{
    color:white;
    cursor: pointer;
}
.scrollRow{
    width: 98vw;
    height: 100%;
    margin-left: 30px;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    scrollbar-width: 0px;
    position: relative;
    border: 1px solid red;
}

/* Trending row */

.trend-number{
    color:white;
}


/*  arrows */
.arrowContainer{
    background:rgb(0 0 0/0%);
    border: none;
    width:40px;
    height: 100%;
    align-self: stretch;
    display:flex;
    position: absolute;
    cursor: pointer;
    z-index: 9;
}
.cRight{
    right: 0%;
}
.cLeft{
    left:0%;
}

.row:hover{
    .arrowContainer{
        background: rgb(0 0 0 / 50%);
    }
    .arrow{
        opacity: 100%;
    }
}
.arrow {
    align-self: center;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    opacity: 0%;
    border-radius: 2px;
    z-index: 10;
 }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  /* end arrows */