
.set{
    width: 18%;
    flex: 0 0 auto;
    flex-wrap: wrap;
    margin-right: 15px;
}
.set-box {
    width: 100%;
    display: flex;

}

.set-portrait {
    width: 75%;
    margin-right: 5px;
    aspect-ratio: 2/3;
    
}

.set-side-container {
    flex-direction: column;
}

.set-side {
    width: 100%;
    margin: 5px 0px;
    opacity: 40%;
}
.owned {
    opacity: 100%;
}


.movieTitle{
    flex-direction: column;
}
.subTitle {
    color: #ddd;
    font-weight: bolder;
}
