
.set{
    width: 18%;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    padding-right: 15px;
}
.set-box {
    width: 100%;
    display: flex;
    flex: 0 0 auto;
}

.set-portrait {
    width: 75%;
    margin-right: 5px;
    aspect-ratio: 2/3;
}

.set-side-container {
    flex-direction: column;
}

.set-side {
    width: 100%;
    margin: 5px 0px;
}
.movieTitle{
    align-self: flex-end;
    flex-wrap: wrap;
}