.tbn{
    flex: 0 0 auto;
    flex-direction: column;
    cursor: pointer;
    height:100%;
    max-width: 100%;
    margin-right: 15px;
    aspect-ratio: 2/3;
}
.tbn:hover{
    opacity:75%;
}
.landscape{
    width:30%;
}
.playBtn{
    background-color: aqua;
    height:40px;
    width: 40px;
    position: relative;
    z-index: 10;
    top:0%;
    left:2px;
}
.movieTitle{
    color:white;
}

.thumbImg{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 5px;
}

.saleText{
    color:white;
    align-self: flex-end;
    margin: 0px auto;
    font-size: 12px;
    font-weight: bold;
}

.saleHighlight{
    background-color: red;
    padding:0px 2px;
    margin: 3px;
    letter-spacing: 2px;
    border-radius: 15px;
}

/* SETS */


.set{
    width: 18%; 
    flex: 0 0 auto;
    flex-wrap: wrap;
    margin-right: 15px;
    border: 1px solid yellow;
}
.set-box {
    width: 80%;
    display: flex;
}
.set-portrait {
    width: 5%;
    margin-right: 5px;
    aspect-ratio: 2/3;
}
.set-side-container {
    flex-direction: column;
}
.set-side {
    width: 100%;
    margin: 5px 0px;
    opacity: 40%;
}
.owned {
    opacity: 100%;
}

.movieTitle{
    flex-direction: column;
}
.subTitle {
    color: #ddd;
    font-weight: bolder;
}
